# Desafio Data Sprints

> Autor: Ricardo Lira, 13-01-2021

**Contextualização**: Nova Iorque é uma das maiores cidades do mundo.

## Setup do projeto

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pytz
import gmaps
from random import randint
from dateutil.parser import parse
from datetime import datetime
%matplotlib inline

In [10]:
#deveria vir dos environments
api_key = 'AIzaSyC5s86TP79h5S1CbAdGrGF9shqj8g2Ud8g'
gmaps.configure(api_key=api_key)

In [3]:
ROOT = os.path.abspath("")
dataset_files = [os.path.join(ROOT, "data", filename) for filename in os.listdir(os.path.join(ROOT, "data")) if filename.split('.')[-1] == 'json']
dataset_files
# os.listdir(os.path.join(ROOT, "data"))

['/home/jovyan/work/nyc_taxis_data/data/data_2009.json',
 '/home/jovyan/work/nyc_taxis_data/data/data_2010.json',
 '/home/jovyan/work/nyc_taxis_data/data/data_2011.json',
 '/home/jovyan/work/nyc_taxis_data/data/data_2012.json']

In [4]:
all_data = []
for file in dataset_files:
    print(file)
    data_set = pd.read_json(file, lines=True)
    all_data.append(data_set)
data_set = pd.concat(all_data)

/home/jovyan/work/nyc_taxis_data/data/data_2009.json
/home/jovyan/work/nyc_taxis_data/data/data_2010.json
/home/jovyan/work/nyc_taxis_data/data/data_2011.json
/home/jovyan/work/nyc_taxis_data/data/data_2012.json

In [5]:
# ds1 = ds1.apply(lambda date_object: datetime.datetime.fromisoformat(date_object['pickup_datetime']))
data_set['pickup_datetime'] = data_set['pickup_datetime'].apply(
    lambda datetime_str: parse(datetime_str)
)
data_set['dropoff_datetime'] = data_set['dropoff_datetime'].apply(
    lambda datetime_str: parse(datetime_str)
)

In [31]:
data_set.head(12)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,tip_amount,tolls_amount,total_amount
0,CMT,2009-04-21 18:51:11.767205+00:00,2009-04-21 18:57:09.433767+00:00,2,0.80,-74.004114,40.742950,NaN,NaN,-73.994712,40.747950,Cash,5.4,0.0,0.0,0.00,5.40
1,CMT,2009-01-13 07:40:07.639754+00:00,2009-01-13 07:50:36.386011+00:00,1,5.40,-73.996506,40.747784,NaN,NaN,-73.940449,40.792385,Cash,15.4,0.0,0.0,0.00,15.40
2,VTS,2009-01-06 19:30:44.142187+00:00,2009-01-06 19:43:09.908429+00:00,5,1.67,-73.951340,40.752070,NaN,NaN,-73.944535,40.768108,CASH,6.1,1.0,0.0,0.00,7.10
3,VTS,2009-09-24 08:28:09.004451+00:00,2009-09-24 08:41:56.739991+00:00,1,4.13,-74.001117,40.729128,NaN,NaN,-73.958122,40.721812,CASH,12.9,0.5,0.0,0.00,13.40
4,VTS,2009-10-29 05:50:39.214629+00:00,2009-10-29 05:57:22.880174+00:00,1,2.03,-73.976600,40.756873,NaN,NaN,-73.979757,40.776075,CASH,7.7,0.5,0.0,0.00,8.20
5,VTS,2009-10-23 17:14:45.661393+00:00,2009-10-23 17:23:51.913687+00:00,1,1.15,-73.994665,40.750528,NaN,NaN,-73.978623,40.750478,CASH,6.5,0.0,0.0,0.00,6.50
6,VTS,2009-03-30 09:41:23.359373+00:00,2009-03-30 09:47:12.908395+00:00,1,8.61,-73.955462,40.772843,NaN,NaN,-73.870838,40.774042,CASH,22.1,0.0,0.0,4.15,26.25
7,VTS,2009-03-18 17:56:30.217996+00:00,2009-03-18 18:02:40.735727+00:00,5,0.84,-73.976158,40.757998,NaN,NaN,-73.985112,40.759317,Credit,5.7,0.0,2.0,0.00,7.70
8,VTS,2009-03-30 13:21:23.577454+00:00,2009-03-30 13:32:11.850561+00:00,2,1.04,-73.988585,40.764408,NaN,NaN,-73.975072,40.761585,CASH,6.1,0.0,0.0,0.00,6.10
9,VTS,2009-02-20 18:06:37.232527+00:00,2009-02-20 18:11:48.973565+00:00,5,0.75,-74.001978,40.740683,NaN,NaN,-73.993722,40.747330,CASH,3.7,0.0,0.0,0.00,3.70
10,VTS,2009-06-27 16:40:08.347535+00:00,2009-06-27 16:51:08.733720+00:00,2,1.11,0.000000,0.000000,NaN,NaN,0.000000,0.000000,CASH,5.7,1.0,0.0,0.00,6.70
11,VTS,2009-03-04 21:26:51.273336+00:00,2009-03-04 21:36:42.342198+00:00,1,4.02,-73.996177,40.686802,NaN,NaN,-73.990310,40.731687,Credit,11.7,0.5,2.0,0.00,14.20

## Compreendendo os dados

> Análise dos dados obtidos e limpeza de spúrias

In [ ]:
data_set.columns

## Exclusão de viagens não realizadas.

> Consideramos que uma viagem não realizada nos aplicativos tem um deslocamento total de zero

## Dados inconsistentes

> Para que uma viagem perteça de fato ao conjunto de dados, as coordenadas de *pickup* e *drop off* devem se localizar na região de NY e suas redondezas. Para isso, vamos considerar que a partir do [centro da cidade de NY](https://www.google.com/search?sxsrf=ALeKk03wFApAg05NcKS-dAJbsTrCpV-8kg%3A1610421211482&ei=2xP9X6-JHb-95OUP4OmTgAo&q=New+York%2FCoordinates&oq=New+York%2FCoordinates&gs_lcp=CgZwc3ktYWIQAzIJCAAQyQMQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgQIABBHUKJeWKJeYPZgaABwA3gAgAG5AYgBuQGSAQMwLjGYAQCgAQKgAQGqAQdnd3Mtd2l6yAEHwAEB&sclient=psy-ab&ved=0ahUKEwjv4v7BtpXuAhW_HrkGHeD0BKAQ4dUDCA0&uact=5) a distância máxima das viagens deve ser limitada em função do desvio médio padrão das viagens realizadas.

In [11]:
NYC_center = (40.7128, -74.0060)
fig = gmaps.figure(center=NYC_center, zoom_level=12)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
def get_stats(column):
    mean = column.mean()
    dev = column.std()
    max_value = column.max()
    min_value = column.min()
    return mean, dev, max_value, min_value

In [22]:
columns = ['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']
pickup_longitude_stats = get_stats(data_set['pickup_longitude'])
pickup_latitude_stats = get_stats(data_set['pickup_latitude'])
dropoff_longitude_stats = get_stats(data_set['dropoff_longitude'])
dropoff_latitude_stats = get_stats(data_set['dropoff_latitude'])

In [35]:
data_set[
    (data_set['pickup_longitude']==data_set['dropoff_longitude'])&
    (data_set['pickup_latitude']==data_set['dropoff_latitude'])&
    (data_set['trip_distance']!=0)
]

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,tip_amount,tolls_amount,total_amount
10,VTS,2009-06-27 16:40:08.347535+00:00,2009-06-27 16:51:08.733720+00:00,2,1.11,0.000000,0.000000,NaN,NaN,0.000000,0.000000,CASH,5.7,1.0,0.0,0.0,6.7
191,VTS,2009-02-05 21:20:08.188659+00:00,2009-02-05 21:24:41.572211+00:00,5,16.52,0.000000,0.000000,NaN,NaN,0.000000,0.000000,Credit,36.9,0.0,0.0,0.0,36.9
265,VTS,2009-08-29 20:58:08.068682+00:00,2009-08-29 21:04:54.496894+00:00,1,0.72,0.000000,0.000000,NaN,NaN,0.000000,0.000000,CASH,4.5,0.0,0.0,0.0,4.5
299,VTS,2009-01-14 08:40:58.890599+00:00,2009-01-14 08:54:38.712687+00:00,1,0.53,0.000000,0.000000,NaN,NaN,0.000000,0.000000,CASH,3.7,0.5,0.0,0.0,4.2
313,VTS,2009-03-22 20:38:53.186191+00:00,2009-03-22 20:51:29.012255+00:00,5,0.53,-73.974253,40.763095,NaN,NaN,-73.974253,40.763095,CASH,3.7,0.0,0.0,0.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999687,DDS,2012-06-16 10:49:09.743754+00:00,2012-06-16 10:56:15.164460+00:00,1,3.00,-73.137393,41.366138,NaN,NaN,-73.137393,41.366138,CASH,10.5,0.0,0.0,0.0,10.5
999721,CMT,2012-08-22 02:45:45.696044+00:00,2012-08-22 02:52:00.494970+00:00,1,2.10,0.000000,0.000000,NaN,NaN,0.000000,0.000000,Cash,8.6,0.0,0.0,0.0,8.6
999805,VTS,2012-06-28 13:58:36.768157+00:00,2012-06-28 14:05:41.736730+00:00,5,0.63,0.000000,0.000000,NaN,NaN,0.000000,0.000000,CASH,4.1,0.0,0.0,0.0,4.1
999838,VTS,2012-09-25 17:38:00.588448+00:00,2012-09-25 17:49:37.769719+00:00,1,1.15,0.000000,0.000000,NaN,NaN,0.000000,0.000000,CASH,5.3,0.0,0.0,0.0,5.3
999996,CMT,2012-04-11 16:24:49.255035+00:00,2012-04-11 16:30:46.179091+00:00,1,1.80,0.000000,0.000000,NaN,NaN,0.000000,0.000000,Cash,7.4,0.0,0.0,0.0,7.4

In [36]:
avg_trip = np.average(data_set[data_set['passenger_count']<=2]['trip_distance'].tolist())

In [39]:
print(f'Distância mpédia percorrida com até 2 passageiros: {avg_trip}')

Distância mpédia percorrida com até 2 passageiros: 2.6625269962032174

In [42]:
pickups = [(data['pickup_longitude'], data['pickup_latitude']) for _, data in data_set.iterrows()]